<%- include ../partials/header.ejs %>

 <div class="container">
    <h1><%= title %></h1>
    <h2>Author: <%= author %></h2>
    
    <p class="lead"> I am student at centennial college in the software engineering technology departement since winter 2018
      <br>my background from high school is mechanical industrial ,but i want to learn software because all the industrial tool.<br>now all the mechanical tool  are working base on the computer that is the main reason for me<br> i want to grow up in the computer area Now i want to become a develloper i hope with this kind of program i am going to do many things in my life ,so that's way i love software engineering technology</p>
<hr class="my-4"><br><br>

  </div>

<%- include ../partials/footer.ejs %>
