<%- include ../partials/header.ejs %>

  <div class="container">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %><br>
      
         
        <p class="lead"> <img src="../content/asset/images/jun.jpg"  alt=""> <br>
          Managing projects is hard work. Even harder if you don't use software or have work spread across too many tools. It's easy to lose track of all the moving pieces—and tough to stay up to date. That’s when things fall through the cracks. Use one tool to organize projects, make communication easy, and meet deadlines.<br>my favorite project is to be a software develloper and to understand how the software it's working 
      
      
      </p>
  </div>
  

<%- include ../partials/footer.ejs %>
  